In [1]:
import pandas as pd
import numpy as np

In [2]:
def clean_med_saws(df):
    df['Prefix'] = df.Prefix.fillna(value = '')
    df['Suffix'] = df.Suffix.fillna(value = '')
    df['location'] = df['Prefix'] + ' ' + df['Service Location'] + ' ' + df['Suffix']
    df['location'] = df.location.str.strip()
    df.drop(columns = ['Unnamed: 0', 'ZIP Code', 'Prefix', 'Service Location', 'Suffix'], inplace = True)
    df = df.set_index('Record #')
    df = df.T
    return df

In [3]:
df = pd.read_csv('med_center_saws copy.csv', encoding = "utf-8")
df = clean_med_saws(df)

In [4]:
df

Record #,274262,274263,274264,274265,274266,274267,274268,274269,274270,274271,...,545912,545913,545914,545915,545916,545917,545918,545919,545920,545921
17-JAN,6733,5237,2992,0,4489,0,748,2992,748,17206,...,4489,7481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-FEB,6733,5237,2992,NaN,4489,748,1496,3740,748,16458,...,4489,4489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-MAR,6733,5985,2244,NaN,3740,748,3740,2244,748,16458,...,3740,7481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-APR,7481,5985,3740,NaN,4489,748,2244,2992,748,21695,...,4489,8229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-MAY,6733,5985,2992,NaN,4489,748,1496,2992,1496,17954,...,5237,11970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-JUN,7481,5237,2992,NaN,4489,748,1496,2992,748,18702,...,4489,7481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-JUL,7481,17954,3740,NaN,5237,748,1496,2244,1496,19451,...,4489,8977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-AUG,7481,24687,2244,NaN,1496,748,748,2992,1496,34413,...,4489,12718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-SEP,6733,11222,2992,NaN,1496,748,1496,2992,748,2992,...,5237,10473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-OCT,5985,6733,2992,NaN,5237,748,2244,2992,748,14962,...,6733,13466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-NOV,9725,5237,2992,NaN,4489,0,1496,3740,748,15710,...,5237,16458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17-DEC,5237,5237,2992,NaN,3740,0,748,2244,748,9725,...,6733,16458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18-JAN,5985,5237,2992,NaN,4489,748,1496,2992,1496,9725,...,4489,8229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18-FEB,6733,6733,2992,NaN,4489,0,1496,2992,748,8977,...,8977,10473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18-MAR,5985,5237,2244,NaN,3740,748,748,2992,748,9725,...,5237,12718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18-APR,7481,5985,3740,NaN,5237,748,5985,2244,1496,11970,...,2244,11970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18-MAY,6733,7481,3740,NaN,5237,0,1496,2992,748,11222,...,NaN,11970,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18-JUN,5237,7481,3740,NaN,4489,748,1496,2992,1496,10473,...,NaN,17954,748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18-JUL,8977,11222,3740,NaN,4489,1496,2244,2992,748,13466,...,NaN,11222,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18-AUG,7481,8977,4489,NaN,5237,748,2244,3740,1496,14214,...,NaN,8977,0,2244,NaN,NaN,NaN,NaN,NaN,NaN
18-SEP,5985,6733,4489,NaN,4489,0,2244,3740,748,14214,...,NaN,9725,*,2244,NaN,NaN,NaN,NaN,NaN,NaN
18-OCT,5985,8977,2992,NaN,4489,748,1496,3740,1496,10473,...,NaN,11970,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
18-NOV,6733,4489,2992,NaN,3740,748,1496,2992,748,8977,...,NaN,13466,NaN,0,3740,NaN,NaN,NaN,NaN,NaN
18-DEC,5985,5237,3740,NaN,4489,748,2244,4489,0,12718,...,NaN,16458,NaN,3740,3740,NaN,NaN,NaN,NaN,NaN
19-JAN,7481,5985,3740,NaN,5237,0,1496,3740,1496,13466,...,NaN,5985,NaN,22443,3740,NaN,NaN,NaN,NaN,NaN
19-FEB,5985,2992,2992,NaN,4489,748,1496,3740,0,11970,...,NaN,6733,NaN,27680,2992,NaN,NaN,NaN,NaN,NaN
19-MAR,4489,4489,2992,NaN,5237,748,1496,2992,0,8229,...,NaN,5237,NaN,23191,2992,NaN,NaN,NaN,NaN,NaN
19-APR,4489,3740,2992,NaN,4489,748,748,2992,2244,14214,...,NaN,8977,NaN,21695,3740,NaN,NaN,NaN,NaN,NaN
19-MAY,8229,5237,2992,NaN,5237,2244,748,4489,1496,10473,...,NaN,11970,NaN,19451,2992,NaN,NaN,NaN,NaN,NaN
19-JUN,4489,4489,2992,NaN,5985,1496,1496,2992,748,11222,...,NaN,11970,NaN,11222,3740,NaN,NaN,NaN,NaN,NaN
19-JUL,5985,3740,2992,NaN,5237,1496,748,3740,1496,12718,...,NaN,12718,NaN,8977,3740,NaN,NaN,NaN,NaN,NaN
19-AUG,7481,4489,3740,NaN,5237,748,748,2992,1496,17954,...,NaN,15710,NaN,7481,3740,NaN,NaN,NaN,NaN,NaN
19-SEP,4489,17206,6733,NaN,8229,2992,5985,2992,748,26932,...,NaN,14962,NaN,8229,2992,NaN,NaN,NaN,NaN,NaN
19-OCT,5237,11222,7481,NaN,4489,1496,4489,2992,1496,26932,...,NaN,16458,NaN,10473,4489,NaN,NaN,NaN,NaN,NaN
19-NOV,5237,3740,4489,NaN,5237,748,1496,2992,748,16458,...,NaN,12718,NaN,7481,2992,NaN,NaN,NaN,NaN,NaN
19-DEC,3740,3740,2244,NaN,4489,0,748,2992,1496,5985,...,NaN,9725,NaN,2244,2992,NaN,NaN,NaN,NaN,NaN
20-JAN,5985,4489,3740,NaN,5237,748,748,4489,748,6733,...,NaN,11222,NaN,9725,3740,NaN,NaN,NaN,NaN,NaN
20-FEB,5985,4489,2992,NaN,5237,748,1496,3740,1496,8977,...,NaN,10473,NaN,10473,3740,NaN,NaN,NaN,NaN,NaN
20-MAR,3740,3740,3740,NaN,4489,748,748,3740,748,8229,...,NaN,10473,NaN,11970,2992,1496,NaN,NaN,NaN,NaN
20-APR,5237,4489,2992,NaN,4489,748,748,2992,748,6733,...,NaN,13466,NaN,13466,1496,748,NaN,NaN,NaN,NaN
20-MAY,5985,3740,2992,NaN,8229,748,1496,3740,1496,8977,...,NaN,12718,NaN,11222,NaN,748,7481,NaN,NaN,NaN
20-JUN,5237,5237,2992,NaN,8977,0,748,3740,748,9725,...,NaN,15710,NaN,11222,NaN,748,18702,NaN,NaN,NaN
20-JUL,4489,3740,2244,NaN,5237,748,0,2244,1496,11970,...,NaN,14214,NaN,12718,NaN,2244,16458,NaN,NaN,NaN
20-AUG,13466,4489,2992,NaN,8229,748,2244,3740,1496,19451,...,NaN,12718,NaN,10473,NaN,1496,25435,NaN,NaN,NaN
20-SEP,5985,11222,1496,NaN,8977,748,748,3740,1496,16458,...,NaN,9725,NaN,8229,NaN,748,20947,0,NaN,NaN
20-OCT,5237,7481,*,NaN,8977,748,1496,3740,1496,25435,...,NaN,10473,NaN,10473,NaN,0,17206,NaN,748,NaN
20-NOV,5237,4489,NaN,NaN,8229,1496,1496,2992,1496,22443,...,NaN,7481,NaN,14214,NaN,0,13466,NaN,1496,24687
20-DEC,5237,8229,NaN,NaN,5237,1496,748,4489,748,19451,...,NaN,10473,NaN,11222,NaN,748,14214,NaN,748,49375
location,ACCOLON DR,ACCOLON DR,ACCOLON DR,ACCOLON DR,ACCOLON DR,ACCOLON DR,ACCOLON DR,ACCOLON DR,ACCOLON DR,ACCOLON DR,...,WOODLAKE DR,WOODLAKE DR,WOODLAKE DR,WOODLAKE DR,WOODLAKE DR,WOODLAKE DR,WOODLAKE DR,WOODLAKE DR,WOODLAKE DR,WOODLAKE DR

In [5]:
df = pd.read_csv('med_center_sound copy.csv')
df

,DateTime,Sensor_id,Vendor,SensorModel,LAT,LONG,Zone,NoiseLevel_db,AlertTriggered,SensorStatus
0,2021-05-16T00:01:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal
1,2021-05-16T00:04:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal
2,2021-05-16T00:07:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal
3,2021-05-16T00:10:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal
4,2021-05-16T00:13:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal
...,...,...,...,...,...,...,...,...,...,...
23374,2021-05-01T23:35:00,63568,ITRON,noise,29.50930,-98.583610,Medical Center,60,NaN,Normal
23375,2021-05-01T23:40:00,63568,ITRON,noise,29.50930,-98.583610,Medical Center,60,NaN,Normal
23376,2021-05-01T23:45:00,63568,ITRON,noise,29.50930,-98.583610,Medical Center,61,NaN,Normal
23377,2021-05-01T23:50:00,63568,ITRON,noise,29.50930,-98.583610,Medical Center,59,NaN,Normal
23378,2021-05-01T23:55:00,63568,ITRON,noise,29.50930,-98.583610,Medical Center,60,NaN,Normal

In [6]:
def clean_med_sound(df):
    df = df.drop(columns = ['SensorStatus', 'AlertTriggered', 'Zone', 'LONG', 
                            'LAT', 'SensorModel', 'Vendor', 'Sensor_id'])
    df['DateTime'] = pd.to_datetime(df.DateTime)
    return df

In [7]:
df = clean_med_sound(df)

In [8]:
df

                 DateTime  NoiseLevel_db
0     2021-05-16 00:01:26             60
1     2021-05-16 00:04:26             60
2     2021-05-16 00:07:26             60
3     2021-05-16 00:10:26             60
4     2021-05-16 00:13:26             60
...                   ...            ...
23374 2021-05-01 23:35:00             60
23375 2021-05-01 23:40:00             60
23376 2021-05-01 23:45:00             61
23377 2021-05-01 23:50:00             59
23378 2021-05-01 23:55:00             60

[23379 rows x 2 columns]