In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

import wrangle

In [2]:
flood = wrangle.clean_flood()
flood.sample(1)

,datetime,sensor_to_water_feet,sensor_to_water_meters,sensor_to_ground_feet,sensor_to_ground_meters,flood_depth_feet,flood_depth_meters,flood_alert
20386,2021-06-19 09:30:00,0.2417,0.0737,13.500656,4.115,13.258956,4.0413,No Risk

In [3]:
#flood.sensor_to_ground_feet.replace(to_replace=-999, value=13.500656)

In [4]:
flood_train, flood_validate, flood_test = wrangle.split_data(flood)

In [5]:
flood.sensor_to_ground_feet.value_counts()

13.500656    19995
13.500656     7559
Name: sensor_to_ground_feet, dtype: int64

In [6]:
flood.sensor_to_ground_meters.value_counts()

4.115    27554
Name: sensor_to_ground_meters, dtype: int64

___
# Explore Flood

____

def flood_alert(c):
    if 0 < c['flood_depth_meters'] < 10:
        return 'No Risk'
    elif 10 < c['flood_depth_meters'] < 11:
        return 'Minor Risk'
    elif 11 < c['flood_depth_meters'] < 12:
        return 'Moderate Risk'
    elif 12 < c['flood_depth_meters']:
        return 'Major Risk Risk'
    else:
        return 'No Alert'
flood['flood_alert'] = flood.apply(flood_alert, axis=1)

In [7]:
flood.head()

,datetime,sensor_to_water_feet,sensor_to_water_meters,sensor_to_ground_feet,sensor_to_ground_meters,flood_depth_feet,flood_depth_meters,flood_alert
0,2021-05-20 00:11:55,13.188976,4.02,13.500656,4.115,0.311680,0.095,No Risk
1,2021-05-20 00:26:55,13.254593,4.04,13.500656,4.115,0.246063,0.075,No Risk
2,2021-05-20 00:41:55,13.221785,4.03,13.500656,4.115,0.278871,0.085,No Risk
3,2021-05-20 00:56:55,13.221785,4.03,13.500656,4.115,0.278871,0.085,No Risk
4,2021-05-20 01:11:55,13.221785,4.03,13.500656,4.115,0.278871,0.085,No Risk

In [8]:
flood.flood_alert.value_counts()

No Risk    27554
Name: flood_alert, dtype: int64