In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

import wrangle

In [2]:
flood = wrangle.clean_flood()
flood

,datetime,sensor_to_water_feet,sensor_to_water_meters,sensor_to_ground_feet,sensor_to_ground_meters,flood_depth_feet,flood_depth_meters
0,2021-05-20 00:11:55,13.188976,4.0200,13.500656,4.115,0.311680,0.0950
1,2021-05-20 00:26:55,13.254593,4.0400,13.500656,4.115,0.246063,0.0750
2,2021-05-20 00:41:55,13.221785,4.0300,13.500656,4.115,0.278871,0.0850
3,2021-05-20 00:56:55,13.221785,4.0300,13.500656,4.115,0.278871,0.0850
4,2021-05-20 01:11:55,13.221785,4.0300,13.500656,4.115,0.278871,0.0850
...,...,...,...,...,...,...,...
27549,2021-07-08 23:35:00,0.216700,0.0660,0.000000,0.000,-0.216700,-0.0660
27550,2021-07-08 23:40:00,0.216700,0.0660,0.000000,0.000,-0.216700,-0.0660
27551,2021-07-08 23:45:00,0.233300,0.0711,0.000000,0.000,-0.233300,-0.0711
27552,2021-07-08 23:50:00,0.250000,0.0762,0.000000,0.000,-0.250000,-0.0762
27553,2021-07-08 23:55:00,0.258300,0.0787,0.000000,0.000,-0.258300,-0.0787

In [3]:
flood_train, flood_validate, flood_test = wrangle.split_data(flood)

In [5]:
flood.flood_depth_feet.max()

13.500656167978999