In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('SAWS External 2 of 3 Final Data.xlsx')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274034 entries, 0 to 274033
Data columns (total 53 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Record #          274034 non-null  int64
 1   Prefix            10642 non-null   object
 2   Service Location  274034 non-null  object
 3   Suffix            118798 non-null  object
 4   ZIP Code          274034 non-null  int64
 5   17-JAN            160552 non-null  object
 6   17-FEB            160654 non-null  object
 7   17-MAR            161052 non-null  object
 8   17-APR            161166 non-null  object
 9   17-MAY            161494 non-null  object
 10  17-JUN            161667 non-null  object
 11  17-JUL            161806 non-null  object
 12  17-AUG            161813 non-null  object
 13  17-SEP            161844 non-null  object
 14  17-OCT            161971 non-null  object
 15  17-NOV            162170 non-null  object
 16  17-DEC            162177 non-null  object
 17  18-JAN            162300 non-null  object
 18  18-FEB            162261 non-null  object
 19  18-MAR            162735 non-null  object
 20  18-APR            162910 non-null  object
 21  18-MAY            163297 non-null  object
 22  18-JUN            163557 non-null  object
 23  18-JUL            163637 non-null  object
 24  18-AUG            163677 non-null  object
 25  18-SEP            164155 non-null  object
 26  18-OCT            164071 non-null  object
 27  18-NOV            164109 non-null  object
 28  18-DEC            164258 non-null  object
 29  19-JAN            164143 non-null  object
 30  19-FEB            164219 non-null  object
 31  19-MAR            164534 non-null  object
 32  19-APR            164819 non-null  object
 33  19-MAY            165015 non-null  object
 34  19-JUN            165279 non-null  object
 35  19-JUL            165658 non-null  object
 36  19-AUG            165910 non-null  object
 37  19-SEP            166085 non-null  object
 38  19-OCT            166302 non-null  object
 39  19-NOV            166404 non-null  object
 40  19-DEC            166407 non-null  object
 41  20-JAN            166167 non-null  object
 42  20-FEB            167651 non-null  object
 43  20-MAR            167356 non-null  object
 44  20-APR            167572 non-null  object
 45  20-MAY            167731 non-null  object
 46  20-JUN            168166 non-null  object
 47  20-JUL            168636 non-null  object
 48  20-AUG            168661 non-null  object
 49  20-SEP            168868 non-null  object
 50  20-OCT            169129 non-null  object
 51  20-NOV            169399 non-null  object
 52  20-DEC            169496 non-null  object
dtypes: int64(2), object(51)
memory usage: 110.8+ MB

In [6]:
df.shape

(274034, 53)

In [7]:
df = df[df['ZIP Code'] == 78229]

In [8]:
df.shape

(3037, 53)

In [10]:
df['ZIP Code'].value_counts()

78229    3037
Name: ZIP Code, dtype: int64

In [12]:
df.to_csv('med_center_saws.csv')