# 2021 DATATHON

## Imports

In [1]:
import pandas as pd
import seaborn as sns

## Acquire

- Data was acquired from https://data.sanantonio.gov/dataset/street-light-sensor-data and turned into a pandas dataframe

### Saws Prepare Plan

- drop unnamed
- drop prefic
- drop zip
- concatanate prefix, service location, and suffix 
- tidy the dataframe with melt

In [3]:
saws = pd.read_csv('med_center_saws.csv')

In [4]:
saws.head()

,Unnamed: 0,Record #,Prefix,Service Location,Suffix,ZIP Code,17-JAN,17-FEB,17-MAR,17-APR,...,20-MAR,20-APR,20-MAY,20-JUN,20-JUL,20-AUG,20-SEP,20-OCT,20-NOV,20-DEC
0,671,274262,NaN,ACCOLON,DR,78229,6733,6733,6733,7481,...,3740,5237,5985,5237,4489,13466,5985,5237,5237,5237
1,672,274263,NaN,ACCOLON,DR,78229,5237,5237,5985,5985,...,3740,4489,3740,5237,3740,4489,11222,7481,4489,8229
2,673,274264,NaN,ACCOLON,DR,78229,2992,2992,2244,3740,...,3740,2992,2992,2992,2244,2992,1496,*,NaN,NaN
3,674,274265,NaN,ACCOLON,DR,78229,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,675,274266,NaN,ACCOLON,DR,78229,4489,4489,3740,4489,...,4489,4489,8229,8977,5237,8229,8977,8977,8229,5237

In [5]:
saws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3037 entries, 0 to 3036
Data columns (total 54 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3037 non-null   int64
 1   Record #          3037 non-null   int64
 2   Prefix            185 non-null    object
 3   Service Location  3037 non-null   object
 4   Suffix            1365 non-null   object
 5   ZIP Code          3037 non-null   int64
 6   17-JAN            1873 non-null   object
 7   17-FEB            1861 non-null   object
 8   17-MAR            1870 non-null   object
 9   17-APR            1868 non-null   object
 10  17-MAY            1870 non-null   object
 11  17-JUN            1862 non-null   object
 12  17-JUL            1868 non-null   object
 13  17-AUG            1871 non-null   object
 14  17-SEP            1870 non-null   object
 15  17-OCT            1866 non-null   object
 16  17-NOV            1872 non-null   object
 17  17-DEC            1870 non-null   object
 18  18-JAN            1868 non-null   object
 19  18-FEB            1866 non-null   object
 20  18-MAR            1872 non-null   object
 21  18-APR            1871 non-null   object
 22  18-MAY            1869 non-null   object
 23  18-JUN            1875 non-null   object
 24  18-JUL            1863 non-null   object
 25  18-AUG            1860 non-null   object
 26  18-SEP            1872 non-null   object
 27  18-OCT            1865 non-null   object
 28  18-NOV            1869 non-null   object
 29  18-DEC            1870 non-null   object
 30  19-JAN            1866 non-null   object
 31  19-FEB            1868 non-null   object
 32  19-MAR            1870 non-null   object
 33  19-APR            1871 non-null   object
 34  19-MAY            1872 non-null   object
 35  19-JUN            1874 non-null   object
 36  19-JUL            1873 non-null   object
 37  19-AUG            1866 non-null   object
 38  19-SEP            1872 non-null   object
 39  19-OCT            1875 non-null   object
 40  19-NOV            1870 non-null   object
 41  19-DEC            1877 non-null   object
 42  20-JAN            1874 non-null   object
 43  20-FEB            1882 non-null   object
 44  20-MAR            1877 non-null   object
 45  20-APR            1885 non-null   object
 46  20-MAY            1878 non-null   object
 47  20-JUN            1881 non-null   object
 48  20-JUL            1877 non-null   object
 49  20-AUG            1870 non-null   object
 50  20-SEP            1876 non-null   object
 51  20-OCT            1882 non-null   object
 52  20-NOV            1876 non-null   object
 53  20-DEC            1883 non-null   object
dtypes: int64(3), object(51)
memory usage: 1.3+ MB

In [6]:
saws.shape

(3037, 54)

In [7]:
saws.isna().sum()

Unnamed: 0             0
Record #               0
Prefix              2852
Service Location       0
Suffix              1672
ZIP Code               0
17-JAN              1164
17-FEB              1176
17-MAR              1167
17-APR              1169
17-MAY              1167
17-JUN              1175
17-JUL              1169
17-AUG              1166
17-SEP              1167
17-OCT              1171
17-NOV              1165
17-DEC              1167
18-JAN              1169
18-FEB              1171
18-MAR              1165
18-APR              1166
18-MAY              1168
18-JUN              1162
18-JUL              1174
18-AUG              1177
18-SEP              1165
18-OCT              1172
18-NOV              1168
18-DEC              1167
19-JAN              1171
19-FEB              1169
19-MAR              1167
19-APR              1166
19-MAY              1165
19-JUN              1163
19-JUL              1164
19-AUG              1171
19-SEP              1165
19-OCT              1162
19-NOV              1167
19-DEC              1160
20-JAN              1163
20-FEB              1155
20-MAR              1160
20-APR              1152
20-MAY              1159
20-JUN              1156
20-JUL              1160
20-AUG              1167
20-SEP              1161
20-OCT              1155
20-NOV              1161
20-DEC              1154
dtype: int64

### Air Prepare Plan

- dropping latitude and longitude
- dropping zone
- dropping vendor
- drop sensorstatus
- dropping sensor id and sensor model
- add daily total and daily average
- convert date to datetime type

In [8]:
air = pd.read_csv('med_center_air.csv')

In [9]:
air.head()

,DateTime,Sensor_id,Vendor,SensorModel,LAT,LONG,Zone,Pm1_0,Pm2_5,Pm10,SO2,O3,CO,NO2,AlertTriggered,SensorStatus
0,2021-05-16T00:01:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,8,7,8,0,0,0,0,None,Normal
1,2021-05-16T00:04:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,8,7,8,0,0,0,0,None,Normal
2,2021-05-16T00:07:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,8,7,8,0,0,0,0,None,Normal
3,2021-05-16T00:10:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,8,7,8,0,0,0,0,None,Normal
4,2021-05-16T00:13:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,8,7,8,0,0,0,0,None,Normal

In [11]:
air.LAT.value_counts()

29.50790    5874
29.50752    5873
29.51007    5872
29.50484    5760
Name: LAT, dtype: int64

In [12]:
air.Vendor.value_counts()

ATT      17619
ITRON     5760
Name: Vendor, dtype: int64

In [13]:
air.Sensor_id.value_counts()

7b48389537e7a6c7    5874
6dee283d397b9803    5873
63e0b0eae3495a39    5872
70463               5760
Name: Sensor_id, dtype: int64

In [14]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23379 entries, 0 to 23378
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTime        23379 non-null  object
 1   Sensor_id       23379 non-null  object
 2   Vendor          23379 non-null  object
 3   SensorModel     23379 non-null  object
 4   LAT             23379 non-null  float64
 5   LONG            23379 non-null  float64
 6   Zone            23379 non-null  object
 7   Pm1_0           23379 non-null  int64
 8   Pm2_5           23379 non-null  int64
 9   Pm10            23379 non-null  int64
 10  SO2             23379 non-null  int64
 11  O3              23379 non-null  int64
 12  CO              23379 non-null  int64
 13  NO2             23379 non-null  int64
 14  AlertTriggered  17619 non-null  object
 15  SensorStatus    23379 non-null  object
dtypes: float64(2), int64(7), object(7)
memory usage: 2.9+ MB

In [15]:
air.AlertTriggered.value_counts()

None     10816
no2       6464
pm2_5      292
co          24
so2         13
o3           7
pm10         3
Name: AlertTriggered, dtype: int64

In [16]:
air.SensorStatus.value_counts()

Normal    23379
Name: SensorStatus, dtype: int64

### Flood Prepare Plan

- drop AlertTriggered
- drop SensorStatus
- drop lat and long
- drop Sensor_id
- drop SensorModel

In [17]:
flood = pd.read_csv('med_center_flood.csv')

In [18]:
flood.head()

,DateTime,Sensor_id,Vendor,SensorModel,LAT,LONG,Zone,Temp_C,Temp_F,DistToWL_ft,DistToWL_m,DistToDF_ft,DistToDF_m,AlertTriggered,SensorStatus
0,2021-05-15T00:11:55,400789,ATT,ranger sensor,29.511164,-98.586094,Medical Center,-999,-999,13.090551,3.99,13.500656,4.115,N,Normal
1,2021-05-15T00:26:55,400789,ATT,ranger sensor,29.511164,-98.586094,Medical Center,-999,-999,13.090551,3.99,13.500656,4.115,N,Normal
2,2021-05-15T00:41:55,400789,ATT,ranger sensor,29.511164,-98.586094,Medical Center,-999,-999,13.090551,3.99,13.500656,4.115,N,Normal
3,2021-05-15T00:56:55,400789,ATT,ranger sensor,29.511164,-98.586094,Medical Center,-999,-999,13.090551,3.99,13.500656,4.115,N,Normal
4,2021-05-15T01:11:55,400789,ATT,ranger sensor,29.511164,-98.586094,Medical Center,-999,-999,13.090551,3.99,13.500656,4.115,N,Normal

In [19]:
flood.Sensor_id.value_counts()

400789    2872
Name: Sensor_id, dtype: int64

In [20]:
flood.AlertTriggered.value_counts()

N    2872
Name: AlertTriggered, dtype: int64

In [22]:
flood.shape

(2872, 15)

In [23]:
flood.Sensor_id.value_counts()

400789    2872
Name: Sensor_id, dtype: int64

In [24]:
flood.SensorModel.value_counts()

ranger sensor    2872
Name: SensorModel, dtype: int64

### Sound Prepare Plan

- drop lat and long
- drop sensor id
- drop vendor
- drop AlertTriggered
- drop SensorStatus

In [25]:
sound = pd.read_csv('med_center_sound.csv')

In [26]:
sound.head()

,DateTime,Sensor_id,Vendor,SensorModel,LAT,LONG,Zone,NoiseLevel_db,AlertTriggered,SensorStatus
0,2021-05-16T00:01:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal
1,2021-05-16T00:04:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal
2,2021-05-16T00:07:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal
3,2021-05-16T00:10:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal
4,2021-05-16T00:13:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,60,None,Normal

In [27]:
sound.Vendor.value_counts()

ATT      17619
ITRON     5760
Name: Vendor, dtype: int64

In [28]:
sound.Sensor_id.value_counts()

7b48389537e7a6c7    5874
6dee283d397b9803    5873
63e0b0eae3495a39    5872
63568               5760
Name: Sensor_id, dtype: int64

In [29]:
sound.AlertTriggered.value_counts()

None    17619
Name: AlertTriggered, dtype: int64

In [30]:
sound.SensorStatus.value_counts()

Normal    23379
Name: SensorStatus, dtype: int64

In [31]:
sound.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23379 entries, 0 to 23378
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DateTime        23379 non-null  object
 1   Sensor_id       23379 non-null  object
 2   Vendor          23379 non-null  object
 3   SensorModel     23379 non-null  object
 4   LAT             23379 non-null  float64
 5   LONG            23379 non-null  float64
 6   Zone            23379 non-null  object
 7   NoiseLevel_db   23379 non-null  int64
 8   AlertTriggered  17619 non-null  object
 9   SensorStatus    23379 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.8+ MB

### Weather Prepare Plan

In [ ]:
-

In [32]:
weather = pd.read_csv('med_center_weather.csv')

In [33]:
weather.head()

,DateTime,Sensor_id,Vendor,SensorModel,LAT,LONG,Zone,Temp_C,Temp_F,Humidity,DewPoint_C,DewPoint_F,Pressure_Pa,AlertTriggered,SensorStatus
0,2021-05-16T00:01:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,21,71,88,18.934569,66.082224,979,NaN,Normal
1,2021-05-16T00:04:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,21,71,88,18.934569,66.082224,979,NaN,Normal
2,2021-05-16T00:07:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,21,71,88,18.934569,66.082224,979,NaN,Normal
3,2021-05-16T00:10:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,21,71,88,18.934569,66.082224,979,NaN,Normal
4,2021-05-16T00:13:26,63e0b0eae3495a39,ATT,AQM-01-00-01-00-01-00-GY,29.51007,-98.580288,Medical Center,21,71,88,18.934569,66.082224,979,NaN,Normal