# Explore Weather

In [1]:
import wrangle as w
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
weather = w.wrangle_weather()

In [3]:
weather.head()

,datetime,celsius,farenheit,humidity,dewpoint_celsius,dewpoint_farenheit,pressure
0,2021-05-16 00:01:26,21,71,88,18.934569,66.082224,979
1,2021-05-16 00:04:26,21,71,88,18.934569,66.082224,979
2,2021-05-16 00:07:26,21,71,88,18.934569,66.082224,979
3,2021-05-16 00:10:26,21,71,88,18.934569,66.082224,979
4,2021-05-16 00:13:26,21,71,88,18.934569,66.082224,979

In [4]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16179 entries, 0 to 16178
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            16179 non-null  datetime64[ns]
 1   celsius             16179 non-null  int64
 2   farenheit           16179 non-null  int64
 3   humidity            16179 non-null  int64
 4   dewpoint_celsius    16179 non-null  float64
 5   dewpoint_farenheit  16179 non-null  float64
 6   pressure            16179 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 884.9 KB

In [5]:
weather.shape

(16179, 7)

In [6]:
#weather.to_csv('weathercsv.csv')