# COSA Flood Exploration

## Imports

In [1]:
import wrangle as w
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
flood = w.clean_flood()

In [3]:
flood.head()

,datetime,sensor_to_water_feet,sensor_to_water_meters,sensor_to_ground_feet,sensor_to_ground_meters,flood_depth_feet,flood_depth_meters
0,2021-05-20 00:11:55,13.188976,4.02,13.500656,4.115,0.311680,0.095
1,2021-05-20 00:26:55,13.254593,4.04,13.500656,4.115,0.246063,0.075
2,2021-05-20 00:41:55,13.221785,4.03,13.500656,4.115,0.278871,0.085
3,2021-05-20 00:56:55,13.221785,4.03,13.500656,4.115,0.278871,0.085
4,2021-05-20 01:11:55,13.221785,4.03,13.500656,4.115,0.278871,0.085

In [4]:
flood.to_csv('newflood.csv')

In [5]:
flood.sensor_to_ground_feet.value_counts()

13.500656    19995
13.500656     7559
Name: sensor_to_ground_feet, dtype: int64

In [6]:
flood.describe()

,sensor_to_water_feet,sensor_to_water_meters,sensor_to_ground_feet,sensor_to_ground_meters,flood_depth_feet,flood_depth_meters
count,27554.000000,27554.000000,2.755400e+04,2.755400e+04,27554.000000,27554.000000
mean,3.762779,1.146894,1.350066e+01,4.115000e+00,9.737877,2.968106
std,5.675450,1.729878,7.494991e-08,1.826128e-12,5.675450,1.729878
min,0.000000,0.000000,1.350066e+01,4.115000e+00,0.016404,0.005000
25%,0.225000,0.068600,1.350066e+01,4.115000e+00,0.639764,0.195000
50%,0.275000,0.083800,1.350066e+01,4.115000e+00,13.225656,4.031200
75%,12.860892,3.920000,1.350066e+01,4.115000e+00,13.275656,4.046400
max,13.484252,4.110000,1.350066e+01,4.115000e+00,13.500656,4.115000